[database]
host = 127.0.0.1
port = 3306
user = dootask
password = your_db_password_here
database = dootask
prefix = pre_

[smtp]
server = smtp.partner.outlook.cn
port = 587
account = intern@uhomes.com
password = your_smtp_password_here
from_name = DooTask工单系统

[notify]
base_url = https://task.critvo.com
confirm_timeout_hours = 4
overdue_warning_hours = 4
daily_summary_hour = 16
time_range_start = 08:00
time_range_end = 22:00
